@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.fonte-titulo {
    font-family: 'Pacifico', cursive;
    color: #820000;
}

.imagem-carrossel {
    object-fit: cover;
    height: 500px; 
}

.imagem-um {
    object-position: 0 82%;
}

.imagem-dois {
    object-position: 0% 55%;
}

.carrossel__titulo {
    font-family: 'Pacifico', cursive;
}

.card-largura {
    max-width: 18rem;
}

.cor-botao {
    background-color: #820000;
    color: #ECF9FF;
}
.cor-borda {
    border-color: #820000;
}

.card-posicao-imagem {
    object-fit: cover;
    height: 200px;    
}